@use 'tokens' as *;

.car-rainbow {
    display: grid;
    flex: 1;
    gap: $gap-mobile * 0.6;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 $padding-mobile $padding-mobile;
    min-height: 0;

    @media all and (min-width: $breakpoint-desktop) {
        gap: $gap-desktop * 0.6;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 $padding-desktop * 0.5 $padding-desktop * 0.5;
    }
}
