.game-status {
    font-size: 2em;
    margin: 40px auto;

    dt {
        font-weight: 600;

        &::after {
            content: ': ';
        }
    }

    dd {
        margin: 0;
    }
}

.game-status__item {
    display: grid;
    grid-template-columns: 20% 70%;
    gap: 10%;
}

.game-status__progress {
    border-radius: 0;
    width: 100%;
    height: 20px;

    &::-webkit-progress-bar {
        background-color: greenyellow;
        border-radius: 7px;
    }

    &::-webkit-progress-value {
        background-color: green;
    }
}
